@{
    Layout = "../Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<p>You are not authorized to view this page, Please contact your admin or click <a href="~/Customer/Index">here</a> to go back to home page</p>
